In [1]:
import numpy as np
import pandas as pd
from pivottablejs import pivot_ui

In [2]:
df = pd.read_csv(r"Groceries_dataset.csv")
df.head()

   Member_number        Date   itemDescription
0           1808  21-07-2015    tropical fruit
1           2552  05-01-2015        whole milk
2           2300  19-09-2015         pip fruit
3           1187  12-12-2015  other vegetables
4           3037  01-02-2015        whole milk

In [3]:
pivot_ui(df)